.images2 {
	width: 75%;
}

.project_subTitle {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
}

.projectDescription{
	width: 353px;
	padding-right: 109px;
}

.githubLogo {
	width: 60px;
	height: 25px;
	border: 2px solid #ffffff;
}

.githubLogo:hover{
	border: 2px solid black;
	color: white;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;	
}

a {
	text-decoration: none;

}

.desktopLogo {
	width: 25px;
	height: 25px;
	border: 2px solid #ffffff;
}

.desktopLogo:hover{
	border: 2px solid black;
	color: white;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;	
}